@import './normalize.less';
@import './themes/light.less';
@import './themes/dark.less';
@import './common.less';
@import './globals.less';

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: var(--background);
  color: var(--color-text-main);
}
